**1.Write a Python program which accepts the radius of a circle from the user
and compute the area.**

In [ ]:
import math
math.pi
radius=int(input("Enter the radius:"))
area=math.pi*radius**2
print("Area of circle",area)

Enter the radius:3
Area of circle 28.274333882308138

**2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.**

In [ ]:
name=input("Enter the name:")
roll_num=input("Enter the roll number:")
mark=input("Enter the mark:")
print("Name:",name)
print("Roll number:",roll_num)
print("Mark:",mark)

Enter the name:Meera
Enter the roll number:12
Enter the mark:75
Name: Meera
Roll number: 12
Mark: 75

**3.Write a Python program to get the largest number from a list.**

In [ ]:
list=[ 12, 3, 47, 10,32]
max=0
i=0
for i in list:
  if i>max:
    max=i

print(max,"is the largest number")

47 is the largest number

**4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.**

In [ ]:
previous_num=0
for i in range(0,10+1):
  sum=i+previous_num
  print("Current number:",i,"Prevoius number:",previous_num,"Sum:",sum)
  previous_num=i

Current number: 0 Prevoius number: 0 Sum: 0
Current number: 1 Prevoius number: 0 Sum: 1
Current number: 2 Prevoius number: 1 Sum: 3
Current number: 3 Prevoius number: 2 Sum: 5
Current number: 4 Prevoius number: 3 Sum: 7
Current number: 5 Prevoius number: 4 Sum: 9
Current number: 6 Prevoius number: 5 Sum: 11
Current number: 7 Prevoius number: 6 Sum: 13
Current number: 8 Prevoius number: 7 Sum: 15
Current number: 9 Prevoius number: 8 Sum: 17
Current number: 10 Prevoius number: 9 Sum: 19

**5. Write a Python program to print only those numbers which are divisible
of 5.**

In [ ]:
for i in range(1,20):
  if i%5==0:
    print(i)

5
10
15

**6. Write a Python program to check whether a number is prime or not.**

In [ ]:
num=int(input("Enter the number:"))
for i in range(2,num//2+1):
  if num%i==0:
    print(num,"is not prime")
    break
else:
  print(num,"is prime")

Enter the number:2
2 is prime

**7. Write a Python program to reverse a list using for loop**

In [ ]:
list=[22,15,20,45,30]
reversed_list=[]
for i in range(len(list)-1,-1,-1):
  reversed_list.append(list[i])

print(reversed_list)

[30, 45, 20, 15, 22]

**8. Write a Python program to print the following pattern.**

In [ ]:
h=int(input("Enter the number of rows:"))
for i in range(1,h+1):
  print("*"*i)

Enter the number of rows:4
*
**
***
****

**9. Write a Python program to find the maximum of three numbers.**

In [ ]:
num1,num2,num3=26,49,55
if num1>num2 and num1>num3:
  print("Largest number is",num1)

elif num2>num1 and num2>num3:
  print("Largest number is",num2)

else:
  print("Largest number is",num3)

Largest number is 55

**10. Write a Python program to construct the following pattern, using a
nested for loop.**

In [ ]:
h=int(input("Enter the number of rows:"))
for i in range(1,h+1):
  print("*"*i)

for i in range(1,h+1):
  print("*"*h)
  h=h-1

Enter the number of rows:5
*
**
***
****
*****
*****
****
***
**
*